      .mainpage_RE {
        text-align: left;
      }

      .mainpage_RE_div {
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        width: 65%;
      }

      .mainpage_RE_div_top {
        color: white;
        background-color: black;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 20px;
        text-align: center;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border: 1px solid #104371;
      }

      .mainpage_RE_div_top h1, .mainpage_RE_div_top h2  {
        font-size: 1.0em;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0px;
        text-style: normal;
      }
      
      .mainpage_RE_div_bottom {
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        padding-top: 10px;
        padding-bottom: 10px;
        border: 1px solid #104371;
      }

      .mainpage_RE table {
        text-align: left;
        border-collapse: collapse;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
      }

      .mainpage_RE table td,
      .mainpage_RE table th {
        border: 1px solid #ddd;
        padding: 8px;
      }

      .mainpage_RE table tr:nth-child(even) {
        background-color: #f2f2f2;
      }

      .mainpage_RE table tr:hover {
        background-color: #ddd;
      }

      .mainpage_RE table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #000;
        color: white;
      }